<h1><%= @toy.name %></h1>

<p>Descrition: <%= @toy.description %></p>
<p> <%= @toy.character %></p>
<p> <%= @toy.movie %></p>
<p>Price: <%= @toy.price %>$</p>

<% if @toy.photo? %>
  <%= cl_image_tag @toy.photo.path, width: 200, height: 300, crop: :fill %>
<% end %>