<div class="container new_camera" >
  <h1> Add a new movie </h1>
  <%= simple_form_for([@movie]) do |f| %>
    <%= f.input :name, collection: @names, include_blank: false %>
    <%= f.input :description %>
    <%= f.input :release_date, start_year: Date.today.year - 40, end_year: Date.today.year %>
    <%= f.input :rating, collection: [0, 1, 2, 3, 4, 5], prompt: "Choose the rating", class: 'form-control' %>
    <%= f.input :photo, as: :attachinary %>
    <%= f.button :submit, class: "btn btn-danger" %>
  <% end %>
</div>

