<div class="wrapper">
    <div class="container movie-poster">
        <div class="col-md-4">
            <% if @movie.photo? %>
              <%= cl_image_tag @movie.photo.path, width: 400, height: 500, crop: :fill %>
            <% end %>
        </div>
        <div class="col-md-4 col-md-offset-1">
            <div class="movie-info">
                <h1><%= @movie.name %></h1>
                <br>
                <p><strong>Description:</strong></p>
                <p><%= @movie.description %></p>
                <br>
                <p>Released on <%= @movie.release_date %></p>
                <p>IMDB Rating: <%= @movie.rating %>/10</p>
            </div>
        </div>
    </div>
</div>



