<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_url 'banner.jpg' %>);">
  <div class="banner-content">
    <h1>Welcome to Pixar Toys</h1>
    <p>Very cool stuff, useful and smart</p>
    <a class="btn btn-primary btn-lg">GET IT</a>
  </div>
</div>

<div class="bg-grey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_url 'cars.jpg' %>);">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Cars</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
          <img class="card-user avatar" src="user.jpg">
          <a class="card-link" href="<%= link_to root_path %>" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_url 'inside-out-characters.jpg' %>);">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Some stuff</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
          <img class="card-user avatar" src="user.jpg">
          <a class="card-link" href="<%= link_to root_path %>" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_url 'Toy-Story-3-Characters.jpg' %>);">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Toy Story</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
          <img class="card-user avatar" src="user.jpg">
          <a class="card-link" href="<%= link_to root_path %> "></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="home-content">
    <h1>Create your own movies</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quisquam itaque temporibus commodi soluta deleniti possimus eos quod amet nobis, ducimus, mollitia quae sit eveniet dolor quas numquam, beatae id.</p>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia modi nemo optio harum ullam aliquid perspiciatis sint eligendi! Voluptatum voluptatibus maxime iure asperiores, vel aliquam aut minus ut, laborum perferendis.</p>
  </div>
</div>

<div class="bg-grey">
  <div class="container text-left">
  <div class="home-content">
    <div class="row">
      <div class="col-md-4">
        <div class="img-home fadeIn">
          <%= image_tag 'clap.svg'%>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content">
          <h3>Find cameras around you</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error sint ipsam optio, totam ad pariatur odio unde excepturi molestiae magnam quis dicta esse adipisci cum voluptatibus tempora tenetur eaque nam?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error sint ipsam optio, totam ad pariatur odio unde excepturi molestiae magnam quis dicta esse adipisci cum voluptatibus tempora tenetur eaque nam?</p>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

  <div class="container text-left">
    <div class="home-content">
    <div class="row">
      <div class="col-md-6">
        <div class="content">
          <h3>Get the best choice</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error sint ipsam optio, totam ad pariatur odio unde excepturi molestiae magnam quis dicta esse adipisci cum voluptatibus tempora tenetur eaque nam?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error sint ipsam optio, totam ad pariatur odio unde excepturi molestiae magnam quis dicta esse adipisci cum voluptatibus tempora tenetur eaque nam?</p>
        </div>
      </div>
      <div class="col-md-2 col-md-offset-2">
        <div class="img-home fadeIn">
          <%= image_tag 'focus.svg' %>
        </div>
      </div>
    </div>
  </div>
</div>